# Entornos virtuales
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Archivos generados temporalmente o como output
Reporte_Ejecutivo.pdf
grafico_consumo.png

# SO
.DS_Store
Thumbs.db
