# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Entorno de pruebas
.pytest_cache/
.coverage
htmlcov/

# Archivos de Datos y Reportes (Generados)
datos_proyecto.csv
Reporte_Ejecutivo.pdf
grafico_consumo.png
*.log

# IDEs
.vscode/
.idea/
*.swp
